body,
html {
  font-family: "Roboto", sans-serif;
  background-color: rgb(243, 242, 240);
}

h1 {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #fff;
  top: 0;
  left: -1px;
  padding: 1px 30px;
  margin: 0;
  font-size: 15px;
  color: rgb(9, 102, 194);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container-fluid {
  font-family: "Roboto", sans-serif;
  background-color: rgb(243, 242, 240);
}

.barkedin-wrapper-whole {
  width: 810px;
  margin: 20px auto;
}

.searchContainer {
  display: inline-flex;
  flex: 1 1 300px;
  position: relative;
  top: -8px;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  padding: 0px;
  font-size: 15px;
  background-color: rgb(238, 243, 248);
  color: rgb(96, 97, 99);
  width: 40%;
  max-width: 320px;
  height: 35px;
}

.fa-search {
  padding: 0.6rem;
}

.searchBox {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
  background-color: rgb(238, 243, 248);
  color: rgb(96, 97, 99);
}

.searchBox:focus {
  outline: 0;
}

.profilePhoto {
  height: 150px;
  width: 150px;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  top: 180px;
  display: block;
  margin: 0 20px;
  border: solid white 4px;
}

.basicInfo {
  margin: 30px 20px;
}

.contactInfo {
  color: rgb(9, 102, 194);
  font-weight: bolder;
}

.profileSection {
  margin: 30px 20px;
  margin-top: 10%;
  padding: 0 20px;
}
.profile {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  padding-top: 10px;
}

.profileSide {
  margin-top: 10px;
}

.backgroundImageTop {
  background-color: rgb(160, 180, 183);
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.backgroundImageBottom {
  background-color: rgb(160, 180, 183);
  border-radius: 0px;
}

.experience,
.education,
.licenses,
.skills,
.interests {
  border-style: solid;
  border-color: rgb(220, 219, 217);
  background-color: white;
  border-radius: 10px;
  border-width: 1px;
  margin: 15px 20px;
  padding: 20px;
}

.name {
  font-size: 25px;
}

.position {
  font-size: 18px;
}

.recentJobs {
  margin-top: 20px;
  font-weight: 600;
  position: relative;
  left: -25px;
}

.recentJobs img {
  padding-right: 5px;
}

.titleExperience,
.titleEducation,
.titleLNC,
.titleSNE,
.titleInterests {
  font-size: 20px;
}

.licenceFirst,
.licenceSecond,
.licenceThird {
  margin-top: 25px;
}

.licenceDetails {
  display: relative;
  left: -25px;
  top: -5px;
  font-size: 14px;
}

.skillsdetails {
  margin-top: 20px;
  font-weight: bold;
}

.interestDetails {
  margin: 15px;
}

.interestOne li,
.interestTwo li,
.interestThree li,
.interestFour li,
.interestFive li {
  color: rgb(102, 102, 102);
  font-size: 14px;
}

#firstLine {
  font-size: 16px;
  font-weight: bold;
}

#divider {
  min-width: 670px;
}

#search-form {
  display: inline;
  position: relative;
  left: 10px;
}

#messageButton {
  background-color: rgb(9, 102, 194);
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 18px;
  padding: 4px 17px;
  display: inline;
  position: relative;
  right: -15px;
}

#messageButton:hover {
  background-color: rgb(1, 65, 130);
}

#messageButton:focus {
  outline: none;
  box-shadow: none;
}

#moreButton {
  background-color: white;
  color: rgb(97, 97, 97);
  font-weight: 600;
  border: solid 1px rgb(97, 97, 97);
  border-radius: 18px;
  padding: 3px 17px;
  display: inline;
  position: relative;
  right: -20px;
}

#moreButton:hover {
  background-color: rgb(243, 243, 243);
  border-width: 2px;
}

#moreButton:focus {
  outline: none;
  box-shadow: none;
}

#recentJobTop {
  margin-bottom: 10px;
}

#titleA,
#titleB,
#school {
  font-weight: 600;
}

#organisationA,
#organisationB {
  font-size: 15px;
}

#periodA,
#periodB,
#periodC {
  color: rgb(102, 102, 102);
  font-size: 15px;
  font-weight: 350;
}

#catdogImage,
#hotdogImage,
#pooptimeImage {
  padding: 0;
  width: 60px;
}

#likeButton {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(9, 102, 194);
  background-color: white;
  color: rgb(9, 102, 194);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

#likeButton:hover {
  background-color: rgb(234, 244, 254);
  border-width: 2px;
  font-weight: bolder;
}

#likeButton:focus {
  outline: none;
  box-shadow: none;
  color: rgb(102, 102, 102);
  border-color: rgb(102, 102, 102);
}
