body,
html {
  font-family: "Roboto", sans-serif;
  background-color: rgb(243, 242, 240);
}

h1 {
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0;
  left: -1px;
  padding: 10px 30px;
  margin: 0;
  font-size: 15px;
  color: rgb(9, 102, 194);
}
.container-fluid {
  font-family: "Roboto", sans-serif;
  background-color: rgb(243, 242, 240);
}

.searchContainer {
  display: inline-flex;
  flex: 1 1 300px;
  position: relative;
  top: -8px;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  padding: 0px;
  font-size: 15px;
  background-color: rgb(238, 243, 248);
  color: rgb(96, 97, 99);
}

.fa-search {
  padding: 0.6rem;
}

.searchBox {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
  background-color: rgb(238, 243, 248);
  color: white;
}

.profile {
  border-style: solid;
  border-radius: 7px;
  border-width: 1px;
  margin: 30px 20px;
  margin-top: 8%;
  padding: 20px;
}
.experience {
  border-style: solid;
  border-radius: 7px;
  border-width: 1px;
  margin: 15px 20px;
  padding: 20px;
}
.education {
  border-style: solid;
  border-radius: 7px;
  border-width: 1px;
  margin: 15px 20px;
  padding: 20px;
}
.licenses {
  border-style: solid;
  border-radius: 7px;
  border-width: 1px;
  margin: 15px 20px;
  padding: 20px;
}
.skills {
  border-style: solid;
  border-radius: 7px;
  border-width: 1px;
  margin: 15px 20px;
  padding: 20px;
}
.interests {
  border-style: solid;
  border-radius: 7px;
  border-width: 1px;
  margin: 15px 20px;
  padding: 20px;
}

#search-form {
  display: inline;
  position: relative;
  left: 10px;
}
